<div class="row align-items-center bg-black">
    
    <div class="col-xl-4 col-lg-4">
        <div class="text-white">
            © <b>2017</b> SOHO internet + humana
        </div>
    </div>
    <div class="col-xl-5 col-lg-5">
        <div class="row ">
            <div class="col-lg-4 text-green">
                Visitanos
            </div>
            <div class="col-lg-4 text-green">
                Escribenos
            </div>
            <div class="col-lg-4 text-green">
                Llamanos
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3">
        <div class="row center-lg">
            <div class="col-lg-3 text-purple">
                Facebook
            </div>
            <div class="col-lg-3 text-cyan">
                Twitter
            </div>
            <div class="col-lg-3 text-blue">
                Linkedin
            </div>
            <div class="col-lg-3 text-red">
                Youtube
            </div>
        </div>
    </div>
</div>
