<section class="section-us "  id="us"> 
            <div class="row text-center text-us">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-white" >17 años de experiencia en pos de tu proyecto </h2>
                    <div class="line"><span></span></div>
                    <div class="text-white-50 ">
                        Expecializados desde 1996 en usabilidad, experiencia del usuario (UX) y diseño de experiencias de proyectos digitales.
                        Aportamos esrategia e innovación centrada en el usuario y los objetivos de negocio en tu proyecto. Cotrabajando mejoraremos tu tasa de conversión, KPI´s, ROI y los resultados de tu actual publicidad PPC(Pay Per Click).
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col box gr">
                        <div class="box-center">
                            <h4 class="text-success">Estrategia, usabilidad & ux</h4>
                            <p class="text-white-50">
                                Te ofrecemos excelente usabilidad y experiencia del usuario en tu proyecto, junto a una vision innovadora
                            </p>
                        </div>
                    </div>
                    <div class="col box bl">
                        <div class="box-center">
                        <h4 class="text-success">Mejoramos la experiencia</h4>
                        <p class="text-white-50">
                            Tangibilizamos tu proyecto digital a través de un diseño centrado en el usuario y tecnicas avanzadas.
                        </p>
                        </div>
                    </div>
                    <div class="col box blu">
                        <div class="box-center">
                            <h4 class="text-success">Medición continua de objetivos</h4>
                            <p class="text-white-50">
                               Implementación, testing con usuarios y medición continua son necesarias para garantizar el éxito de tu proyecto.
                            </p>
                        </div>
                    </div>
            </div>
  </section>
