/*********************************************************************************/
/* Style Section US                                                              */
/*********************************************************************************/   
		
@media screen and (min-width: 20em)
    h2, .h2  
      font-size: 1.5em
      text-align: center

    .text-us 
        padding-top: 4rem 
        padding-bottom: 4rem
        .description
            text-align: center 
            padding: 0px 20px

    .line 
        text-align: center
        margin-top: 5px
        span 
            width: 70px
            height: 3px
            display: inline-block
            background: #409C21

    .box
        padding: 2rem

@media screen and (min-width: 40em)

    h2, .h2  
      font-size: 1.5em
      text-align: center

    .text-us 
        padding-top: 4rem 
        padding-bottom: 4rem
        .description
            text-align: center 
            padding: 0px 20px

    .line 
        text-align: center
        margin-top: 5px
        span 
            width: 70px
            height: 3px
            display: inline-block
            background: #409C21

    .box
        padding: 2rem

@media screen and (min-width: 60em)

    .text-us 
        padding-top: 4rem 
        padding-bottom: 4rem

    .line 
        text-align: center
        margin-top: 5px
        span 
            width: 70px
            height: 3px
            display: inline-block
            background: #409C21

    .box
        padding: 2rem

