            <div class="row center-lg text-us">
                <div class="col-lg-10">
                    <h2 class="text-white">
                        17 años de experiencia en pos de tu proyecto 
                        <div class="line"><span></span></div>
                    </h2>
                    <div class="text-white ">
                        Expecializados desde 1996 en usabilidad, experiencia del usuario (UX) y diseño de experiencias de proyectos digitales.
                        Aportamos esrategia e innovación centrada en el usuario y los objetivos de negocio en tu proyecto. Cotrabajando mejoraremos tu tasa de conversión, KPI´s, ROI y los resultados de tu actual publicidad PPC(Pay Per Click).
                    </div>
                </div>
            </div>
            <div class="row around-xs">
                <div class="col-lg-4 col-xs-12 gr">
                    <div class="box center-lg">
                        <h3 class="text-green">Estrategia, usabilidad & ux</h3>
                        <p class="text-white">
                            Te ofrecemos excelente usabilidad y experiencia del usuario en tu proyecto, junto a una vision innovadora
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12  bl">
                    <div class="box center-lg">
                        <h3 class="text-green">Mejoramos la experiencia</h3>
                        <p class="text-white">
                            Tangibilizamos tu proyecto digital a través de un diseño centrado en el usuario y tecnicas avanzadas.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12  blu">
                    <div class="box center-lg">
                        <h3 class="text-green">Medición continua de objetivos</h3>
                        <p class="text-white">
                           Implementación, testing con usuarios y medición continua son necesarias para garantizar el éxito de tu proyecto.
                        </p>
                    </div>
                </div>
            </div>
