/*********************************************************************************/
/* Style Section US                                                              */
/*********************************************************************************/   
.text-us 
    padding-top: 4rem 
    padding-bottom: 4rem

.line 
    text-align: center
    margin-top: 5px
    span 
        width: 70px
        height: 3px
        display: inline-block
        background: #409C21

.box
    padding: 2rem
