.box
    display: table
    height: 250px
    text-align: center

.box-center
    display: table-cell
    vertical-align: middle
    
.gr 
    background: rgb(45,50,56)
.bl 
    background: rgb(17,21,25)
.blu 
    background: rgb(24,31,42)