/*********************************************************************************/
/* Style component main                                                          */
/*********************************************************************************/   
    
:host
    font-family: Graphik
    font-size: 14px
    color: #333
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

#parentDiv
    overflow-x: hidden


.section  
    display: block 
    background: rgb(30,37,43)

.bg-image
    position: relative
    width: 100%
    height: auto
    padding: 15rem 0
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/assets/image/image-bg.jpg")
    background-position: center
    background-repeat: no-repeat
    background-attachment: scroll
    background-size: cover

@media screen and (min-width: 20em)
    
    .fixed-top 
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1030
        img 
            margin: 0 16px

    .navbar 
        padding-top: 20px
        padding-bottom: 20px
        border-bottom: none
        background-color: transparent
        transition: background-color 0.3s ease-in-out
        .nav-link
            transition: none
            padding: 2rem 1.5rem
            font-weight: bold
            color: #ffffff
            text-decoration: none

    .navbar-nav 
        display: flex
        flex-direction: column
        padding-left: 0
        margin-bottom: 0
        list-style: none,
        text-decoration: none
        display: none

    .navbar .container
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        padding-left: 9rem

    .navbar-expand-lg .navbar-nav .dropdown-menu 
        position: absolute

    .mainNavScroll
        padding-top: 10px
        padding-bottom: 10px
        border-bottom: none
        background-color: #000
        transition: background-color 0.3s ease-in-out


@media screen and (min-width: 40em)

    .navbar 
        padding-top: 20px
        padding-bottom: 20px
        border-bottom: none
        background-color: transparent
        transition: background-color 0.3s ease-in-out
        .nav-link
            transition: none
            padding: 2rem 1.5rem
            font-weight: bold
            color: #ffffff
            text-decoration: none

    .nav-item.active
        border-bottom: 0.15rem solid #409C21
        height: 25px

    .mainNavScroll
        padding-top: 10px
        padding-bottom: 10px
        border-bottom: none
        background-color: #000
        transition: background-color 0.3s ease-in-out
        
    .navbar-expand-lg 
        flex-flow: row nowrap
        justify-content: flex-start

    .navbar-expand-lg .navbar-nav 
        flex-direction: row

    .navbar-expand-lg > .container
        flex-wrap: nowrap

    .navbar-nav 
        display: flex
        flex-direction: column
        padding-left: 0
        margin-bottom: 0
        list-style: none,
        text-decoration: none

    .navbar-expand-lg .navbar-collapse 
        display: flex !important
        flex-basis: auto

    .fixed-top 
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1030
        img 
            margin: 0 16px

    .navbar .container
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        width: 80rem
        padding-left: 18rem


@media screen and (min-width: 60em)

    .navbar 
        padding-top: 20px
        padding-bottom: 20px
        border-bottom: none
        background-color: transparent
        transition: background-color 0.3s ease-in-out
        .nav-link
            transition: none
            padding: 2rem 1.5rem
            font-weight: bold
            color: #ffffff
            text-decoration: none

    .nav-item.active
        border-bottom: 0.15rem solid #409C21
        height: 25px

    .mainNavScroll
        padding-top: 10px
        padding-bottom: 10px
        border-bottom: none
        background-color: #000
        transition: background-color 0.3s ease-in-out
        
    .navbar-expand-lg 
        flex-flow: row nowrap
        justify-content: flex-start

    .navbar-expand-lg .navbar-nav 
        flex-direction: row

    .navbar-expand-lg > .container
        flex-wrap: nowrap

    .navbar-nav 
        display: flex
        flex-direction: column
        padding-left: 0
        margin-bottom: 0
        list-style: none,
        text-decoration: none

    .navbar-expand-lg .navbar-collapse 
        display: flex !important
        flex-basis: auto

    .fixed-top 
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 1030
        img 
            margin: 0 16px

    .navbar .container
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        width: 80rem
        padding-left: 1rem


    .navbar-expand-lg .navbar-collapse 
        display: flex !important
        flex-basis: auto,