<div class="bg-image">
  <app-menu></app-menu>
</div>
<div class="section-online">
  <div class="flex-container text-center">
    <img src="assets/image/icon-live.png" width="60" height="60">
    <p class="text-white ">
      <b>EN DIRECTO</b> - SOHO está presente en el 
      <b>DIGITALBANK MONTEVIDEO</b>. 
      "Experiencia de Usuario" por Alvaro Añón (SEO de Soho).
    </p> 
    <a class="btn btn-secondary text-white text-sz-xs" href="#">Ver evento</a>
  </div>
</div>
<router-outlet></router-outlet>