.text-us 
    padding-top: 4rem 
    padding-bottom: 4rem

.blue-row
    padding-top: 50px
    background: rgb(26,41,111)

.red-row
    padding-top: 50px
    background: rgb(173,58,61)

.white-row
    padding-top: 50px
    background: rgb(255,255,255)

.text-project
    padding-right: 100px
    padding-left: 10px
    padding-top: 10px

.text-project.rev
    padding-right: 10px
    padding-left: 100px
    padding-top: 10px

.line 
    text-align: center
    margin-top: 5px
    span 
        width: 70px
        height: 3px
        display: inline-block
        background: #409C21

.line-project
    margin-top: 5px
    span 
        width: 70px
        height: 3px
        display: inline-block
        background: #fff
    span.line-red
        background: #F3576C

.btn  
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important 
    padding: 1rem 1.5rem 
    font-size: 60% 
    text-transform: uppercase 
    letter-spacing: 0.15rem 
    border-radius: 0.3rem 
    border: none
    text-decoration: none
    cursor: pointer

.btn.bg-red
    background: #F3576C