/*********************************************************************************/
/* Style Project Box                                                             */
/*********************************************************************************/   
    
.text-us 
    padding-top: 4rem 
    padding-bottom: 4rem
    
.box
    padding-top: 50px
    padding-left: 20px

.text-project
    padding-right: 100px
    padding-left: 10px
    padding-top: 10px

.text-project.rev
    padding-right: 10px
    padding-left: 100px
    padding-top: 10px

.line 
    text-align: center
    margin-top: 5px
    span 
        width: 70px
        height: 3px
        display: inline-block
        background: #409C21

.line-project
    margin-top: 5px
    span 
        width: 70px
        height: 3px
        display: inline-block
        background: #fff
    span.line-red
        background: #F3576C
