/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
#banner-wrapper	
  overflow: hidden
  padding: 1em 7em
  background: #000000
	
#banner .box-left	
  float: left
  display: flex 
  align-items: center

#banner .box-button	
  float: left
  display: flex 
  padding-left: 20px
  padding-top: 10px
	
#banner .box-right	
  float: right
	