
<div id="banner-wrapper" class="bg-black">
    <div id="banner" >
        <div class="box-left text-white">
            <img src="assets/image/icon-live.png" alt="" width="50" height="60"/>
            <b>EN DIRECTO</b> - SOHO está presente en el&nbsp;<b>DIGITALBANK MONTEVIDEO</b>. "Experiencia de Usuario" por Alvaro Añón (SEO de Soho).
        </div>

        <div class="box-button">
            <a class="btn btn-secondary bg-green " href="#">Ver evento</a>
        </div>
        <div class="box-button ">
            <a class="btn btn-secondary bg-green-outline text-green" href="#">Próximos eventos</a>
        </div>
    
    </div>
</div>

