<section class="section-online ">
        <div class="row align-items-center">
          
            <div class="col-xl-1 col-lg-1">
                <img class="img-fluid mb-3 mb-lg-0" src="assets/image/icon-live.png" alt="" width="40" height="45"/>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="text-white">
                    <b>EN DIRECTO</b> - SOHO está presente en el 
                    <b>DIGITALBANK MONTEVIDEO</b>. 
                    "Experiencia de Usuario" por Alvaro Añón (SEO de Soho).
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <a class="btn btn-success " href="#">Ver evento</a>
            </div>
        </div>
</section>
