
<div class="row bg-black center">
    <div class="middle">
        <img src="assets/image/icon-live.png" alt="" width="40" height="45"/>
        <b>EN DIRECTO</b> - SOHO está presente en el 
        <b>DIGITALBANK MONTEVIDEO</b>. 
        "Experiencia de Usuario" por Alvaro Añón (SEO de Soho).
    </div>
    <div class="col">
        <a class="btn btn-success " href="#">Ver evento</a>
    </div>
    <div class="col">
        <a class="btn btn-success " href="#">Proximos eventos</a>
    </div>
</div>

