h2, .h2  
  font-size: 2rem 
    
.bg-black
    background: #000000

.btn  
    padding: 0.5rem 0.5rem 
    font-size: 0.875rem 
    line-height: 1.5 
    border-radius: 0.2rem 
    text-decoration: none
 
.btn-success  
  color: #fff 
  background-color: #28a745 
  border-color: #28a745 
  border: 1px solid #28a745 

.btn-success-outline
  color: #fff 
  background-color: transparent 
  border: 1px solid #28a745 
 
.btn-success:hover  
  color: #fff 
  background-color: #218838 
  border-color: #1e7e34 
 
.btn-success:focus, .btn-success.focus  
  color: #fff 
  background-color: #218838 
  border-color: #1e7e34 
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5) 

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
	
#banner-wrapper	
  overflow: hidden
  padding: 2em 6em
  background: #000000
	

#banner .box-left	
  float: left
  display: flex 
  align-items: center

#banner .box-button	
  float: left
  display: flex 
  padding-left: 10px
	

#banner .box-right	
  float: right
	
	
#banner h2	
  margin: 0em
  padding: 0em
  font-weight: 400
  font-size: 3em
  color: #3E454C
	
	
#banner span	
  display: block
  padding-top: 0.50em
  font-size: 1.4em
  color: #2372DE
	