@media screen and (min-width: 20em)
   .text-us 
        padding-top: 4rem 
        padding-bottom: 4rem
        padding-left: 4rem

@media screen and (min-width: 40em)
    .text-us 
        padding-top: 4rem 
        padding-bottom: 4rem

@media screen and (min-width: 60em)
    .text-us 
        padding-top: 4rem 
        padding-bottom: 4rem
