.text-white
    color: #ffffff

.text-green
    color: #16C721

.text-sz-xs
    font-size: 12px

.text-sz-md
    font-size: 40px

.text-sz-lg
    font-size: 45px

.text-bold
    font-weight: bold


p.text-sp
        line-height: 0.5

a.btn-main
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important
    padding: 1.25rem 2rem
    text-transform: uppercase
    text-decoration: none
    border: 0
    background-color: #16C721
    border-color: #64a19d