/* You can add global styles to this file, and also import other style files */
@font-face 
    font-family: 'Graphik'
    src: url('assets/font/Graphik-Extralight.otf') format("woff")
  
body
    margin: 0
  

.text-center
    text-align: center !important
