/* You can add global styles to this file, and also import other style files */
@font-face 
    font-family: 'Graphik'
    src: url('assets/font/Graphik-Extralight.otf') format("woff")
  
body
    margin: 0
  

.text-center
    text-align: center !important

.text-white
    color: #ffffff

.text-green
    color: #16C721

.text-sz-xs
    font-size: 12px

.text-sz-md
    font-size: 40px

.text-sz-lg
    font-size: 45px

.text-bold
    font-weight: bold


p.text-sp
        line-height: 0.5

.btn
    display: inline-block
    margin-bottom: 0
    text-align: center
    vertical-align: middle
    touch-action: manipulation
    cursor: pointer
    background-image: none
    border: 1px solid transparent
    white-space: nowrap
    text-decoration: none
    border-radius: 5px

.btn-main        
    text-transform: uppercase
    padding: 1.25rem 2rem
    background-color: #16C721
    font-weight: bold

.btn-secondary        
    text-transform: uppercase
    background-color: #16C721
    font-weight: bold